<!DOCTYPE html>
<html>
<head>
    <title>Car Data - Invoice Number</title>
</head>
<body>
      <h1>Car Data</h1>
    <p>Invoice No: {{data.InvoiceNo}}</p>
    <p>Image: {{this.image}}</p>
    <p>Manufacturer: {{data.Manufacturer}}</p>
    <p>Class: {{data.class}}</p>
    <p>Sales in Thousands: {{data.Sales_in_thousands}}</p>
    <p>Year Resale Value: {{data.__year_resale_value}}</p>
    <p>Vehicle Type: {{data.Vehicle_type}}</p>
    <p>Price in Thousands: {{data.Price_in_thousands}}</p>
    <p>Engine Size: {{data.Engine_size}}</p>
    <p>Horsepower: {{data.Horsepower}}</p>
    <p>Wheelbase: {{data.Wheelbase}}</p>
    <p>Width: {{data.Width}}</p>
    <p>Length: {{data.Length}}</p>
    <p>Curb Weight: {{data.Curb_weight}}</p>
    <p>Fuel Capacity: {{data.Fuel_capacity}}</p>
    <p>Fuel Efficiency: {{data.Fuel_efficiency}}</p>
    <p>Latest Launch: {{data.Latest_Launch}}</p>
    <p>Power Perf Factor: {{data.Power_perf_factor}}</p>
</body>
</html>
