<tr class="{{#ifBlankHighlight Class}}{{/ifBlankHighlight}}">
    <td>{{InvoiceNo}}</td>
    <td>{{Manufacturer}}</td>
    <td>{{Class}}</td>
    <td>{{Sales_in_thousands}}</td>
    <td>{{__year_resale_value}}</td>
    <td>{{Vehicle_type}}</td>
    <td>{{Price_in_thousands}}</td>
    <td>{{Engine_size}}</td>
    <td>{{Horsepower}}</td>
    <td>{{Wheelbase}}</td>
    <td>{{Width}}</td>
    <td>{{Length}}</td>
    <td>{{Curb_weight}}</td>
    <td>{{Fuel_capacity}}</td>
    <td>{{Fuel_efficiency}}</td>
    <td>{{Latest_Launch}}</td>
    <td>{{Power_perf_factor}}</td>
</tr>
